.viewDiv {
  width: 100%;
  height: 86vh;
}

.widgets {
  display: flex;
}

/* LEGEND */
.legendDiv {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;
  width: 99.8%;
  border: solid 1px #ccc;
  display: flex;
}

.esri-legend__service {
  display: none;
}

.rearrangedLegend {
  width: 100%;
  display: flex;
}

.esri-legend__layer-cell--symbols {
  display: flex;
  padding-top: 5px;
  flex-direction: column;
  justify-content: center;
}

.esri-legend__layer-cell--info {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  justify-content: center;
  margin-left: -2px;
}

.esri-legend__message {
  order: -1;
  width: 100px;
  height: 30px;
}

/* SCALE BAR */
.esri-scale-bar__line {
  background-color: #000000;
}

.esri-scale-bar__line:before {
  background-color: #000000;
}

.esri-scale-bar__line:after {
  background-color: #000000;
}

.esri-scale-bar__label {
  color: #000000;
}

/* ATTRIBUTION */
.esri-attribution {
  background-color: transparent;
  opacity: 1;
  height: 20px;
  z-index: 1;
}

.esri-attribution__sources {
  color: transparent;
}

.esri-attribution__powered-by {
  padding-bottom: 5px;
  color: #000000;
  font-size: 13px;
  opacity: 0;
  font-family: 'Arial', Times, serif;
}