.viewDiv {
  width: 100%;
  height: 86vh;
}

.widgets {
  display: flex;
}

/* LEGEND */
.legendDiv {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;
  width: 100%;
  border: solid 1px #ccc;
  /* display: flex; */
}

.esri-legend__layer-body {
  display: flex;
  flex-flow: wrap;
}

.esri-legend__layer-caption {
  display: none;
}

.esri-legend__service {
  border-bottom: none;
  /* display: inline; */
  /* flex-direction: column; */
  /* height: 70px; */
}

.esri-legend__service-label {
  display: none;
}


/* SCALE BAR */
.esri-scale-bar__line {
  background-color: #000000;
}

.esri-scale-bar__line:before {
  background-color: #000000;
}

.esri-scale-bar__line:after {
  background-color: #000000;
}

.esri-scale-bar__label {
  color: #000000;
}

/* ATTRIBUTION */
.esri-attribution {
  background-color: transparent;
  opacity: 1;
  height: 20px;
  z-index: 1;
}

.esri-attribution__sources {
  color: transparent;
}

.esri-attribution__powered-by {
  padding-bottom: 5px;
  color: #000000;
  font-size: 13px;
  opacity: 0;
  font-family: 'Arial', Times, serif;
}