.searchButton {
    width: 42px;
    height: 44px;
    background-color: #fff;
    cursor: pointer;
    border: solid 1px transparent;
    position: relative;
    flex-direction: column;
}

.searchButtonFont {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}