.searchWidget {
    position: absolute;
    top: 63px;
    left: 150px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    box-shadow: 0px 0px 16px 0px rgba(184, 184, 184, 0.9);
}