.searchInput {
    width: 260px;    
    border: solid 1px transparent;
    color: #6e6e6e;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.77;
    letter-spacing: .5px;
    z-index: 2;
    height: 43px;
    padding-left: 15px;
}

.searchInput:focus {
    outline: none;
}
